---
layout: default

title: 'Latis'
main_style: assets/css
main_script: assets/js


section_one_title: Nextgen Compliance Readiness Platform
section_one_call: Compliance is Hard. Let's tackle it together.
section_one_info: Latis makes it easy to set up and run robust compliance programs to navigate sales procurement diligence and obtain regulatory certifications like HIPAA, ISO2700*, and SOC2.
section_one_placeholder: Your Email Address
section_one_btn: Request Access

section_two_title: Latis Knowledge Base
section_two_info: Latis organizes your compliance policies and controls into one, centralized system of record that can be searched and updated by anyone at your company.
section_two_answer: Want to find out more?
section_two_btn: Contact us

section_three_title: Latis Projects
section_three_info: Latis Projects allow your front-line customer-facing employees respond quickly and effectively to RFPs and sales due diligence requests so that you can deliver the best service to your customers and reduce the time it takes to close a sale.
section_three_answer: Want to find out more?
section_three_btn: Contact us

section_four_title: Latis Virtual Compliance Concierge
section_four_info: Setting up your compliance function the right way helps you avoid fines and lawsuits. Your Virtual Compliance Concierge operates as a natural extension of your team and provides whiteglove service to guide you through specific compliance and risk management challenges.
section_four_answer: Want to find out more?
section_four_btn: Contact us
---

{% include main-page-section-one.html %}
{% include main-page-section-two.html %}
{% include main-page-section-three.html %}
{% include main-page-section-four.html %}
{% include main-page-section-five.html %}


            

         