<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="">
        <title>{{ page.title }}</title>
        <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="assets/images/favicon/site.webmanifest">
        <link rel="mask-icon" href="assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="assets/css/vendor.css">
        <link rel="stylesheet" href="assets/css/styles.css">

  </head>
  <body>
    <div class="wrap">
       <header class="header">
        <div class="header__flex-container">
          <div class="logo">
             <a href="https://latis-inc.github.io/latis.homepage/"><img src="assets/images/Latis-Logo-Colored.png" alt="logo" class="logo__item"></a>
          </div>
          <nav class="navbar">
             <ul class="nav">
                <li class="nav__item">
                   <a href="#" class="nav__link nav__link_request_access">Request Access</a>
                </li>
                <li class="nav__item">
                   <a href="/blog" class="nav__link">Blog</a>
                </li>
             </ul>
          </nav>
          <div class="header__burger">
            <div class="header__btn-mobile-menu">
              <div class="header__menu-global header_menu-top"></div>
              <div class="header__menu-global header_menu-middle"></div>
              <div class="header__menu-global header_menu-bottom"></div>
            </div>
          </div>
        </div>
       </header>
