<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{page.main_style}}/vendor.css">
        <link rel="stylesheet" href="{{page.main_style}}/styles.css">

  </head>
  <body>
    <div class="wrap">
       <header class="header">
        <div class="header__flex-container">
          <div class="logo">
             <img src="assets/images/[Latis]-Logo-Colored.png" alt="logo" class="logo__item">
          </div>
          <nav class="navbar">
             <ul class="nav">
                <li class="nav__item">
                   <a href="#" class="nav__link">Request Access</a>
                </li>
                <li class="nav__item">
                   <a href="#" class="nav__link">Blog</a>
                </li>
             </ul>
          </nav>
          <div class="header__burger">
            <div class="header__btn-mobile-menu">
              <div class="header__menu-global header_menu-top"></div>
              <div class="header__menu-global header_menu-middle"></div>
              <div class="header__menu-global header_menu-bottom"></div>
            </div>
          </div>
        </div>
       </header>