{% for section in site.data.main-page-four %}
<section class="section section_four_style">
  <div class="section__flex">
    <div class="section__item">
      <img src="assets/images/polygon-blue.png" alt="polygin" class="section__polygon">
      <h2 class="section__title">{{section.section_four_title}}</h2>
      <p class="section__info">{{section.section_four_info}}</p>
      <div class="section__inner-wrap-img">
        <img src="assets/images/latis-concierge.png" alt="components" class="section__components-mobile"> 
      </div>
      <p class="section__answer">{{section.section_four_answer}}</p>
      <button type="button" class="section__btn section__btn_contact_us">{{section.section_four_btn}}</button>
    </div>

    <div class="section__item">
     <img src="assets/images/latis-concierge.png" alt="components" class="section__group img-fluid">
     <img src="assets/images/polygon-blue.png" alt="components" class="section__polygon-light">
    </div>
  </div>
</section>
{% endfor %}