{% for section in site.data.main-page-two %}
<section class="section section_two_style">
  <div class="section__flex">
    <div class="section__item">
      <img src="assets/images/polygon-blue.png" alt="polygin" class="section__polygon">
      <h2 class="section__title">{{section.section_two_title}}</h2>
      <p class="section__info">{{section.section_two_info}}</p>
      <div class="section__inner-wrap-img">
        <img src="assets/images/latis-knowledge-base.png" alt="components" class="section__components-mobile"> 
      </div>
      <p class="section__answer">{{section.section_two_answer}}</p>
      <button type="button" class="section__btn section__btn_contact_us">{{section.section_two_btn}}</button>
    </div>
    <div class="section__item">
      <img src="assets/images/latis-knowledge-base.png" alt="components" class="section__components">
      <img src="assets/images/polygon-teal.png" alt="components" class="section__polygon-light">                   
    </div>
  </div>
</section>
{% endfor %}