<section class="section section_five_style">
  <div class="section__flex">
    <div class="section__item">
      <img src="assets/images/To_do_list_2.png" class="section__to_do" alt="to-do-list">
      <h2 class="section__title">{{page.section_five_title}}</h2>
      <p class="section__call">{{page.section_five_call}}</p>
      <form class="section__sign-up">
        <input type="email" class="section__input-sign-up" placeholder="{{page.section_five_placeholder}}">
        <button type="button" class="section__btn-sign-up">{{page.section_five_btn}}</button>
      </form>
    </div>
  </div>
</section>