<section class="section section_two_style">
  <div class="section__flex">
    <div class="section__item">
      <img src="assets/images/Polygon.png" alt="polygin" class="section__polygon">
      <h2 class="section__title">{{page.section_two_title}}</h2>
      <p class="section__info">{{page.section_two_info}}</p>
      <div class="section__inner-wrap-img">
        <img src="assets/images/Components (2).png" alt="components" class="section__components-mobile"> 
      </div>
      <p class="section__answer">{{page.section_two_answer}}</p>
      <button type="button" class="section__btn section__btn_contact_us">{{page.section_two_btn}}</button>
    </div>
    <div class="section__item">
      <img src="assets/images/Components-new.png" alt="components" class="section__components">
      <img src="assets/images/Polygon-light.png" alt="components" class="section__polygon-light">                   
    </div>
  </div>
</section>