---
layout: blog

title: 'Latis|Blog'

main_style: ../assets/css
main_script: ../assets/js

section_five_title: Newsletter Signup
section_five_call: Follow our journey as we share constant progress about Latis with you!
section_five_placeholder: Your Email Address
section_five_btn: Sign Up

---


<section class="section section_page_blog">
		<div class="section__name-page">
			<h1 class="section__item">Blog</h1>
		</div>
		<div class="section__flex">
			{% for post in site.posts %}
			<a href ="{{ post.url }}"class="section__post-blog">
				<img src="{{post.link_image}}" alt="forest" class="section__post-img">
				<span class="section__post-time">{{post.date | date: "%d %B %Y" }}</span>
				<h2 class="section__post-name">{{ post.title }}</h2>				
				<p class="section__post-excerpt">{{ post.excerpt }}</p>
			</a>
			{% endfor %}

		</div>

		<div class="pagination">
			
		</div>

	</section>




{% include main-page-section-five.html %}