.section_page_blog{
	@include media-breakpoint-only(xs) {
		margin: 0 !important;
		padding: 118px 0 48px 0;	
	}
/*-20px отнял во всех padding*/
	@include media-breakpoint-only(sm) {
		margin: 0 !important;
		padding: 118px 0 48px 0;
	}

	@include media-breakpoint-only(md) {
		padding: 60px 0 60px 0;
	}

	@include media-breakpoint-only(lg) {
		padding: 60px 0 46px 0;
	}

	@include media-breakpoint-only(xl) {
		padding: 60px 0 46px 0;
	}
	
	margin: 0;
	.section__name-page{
		@include make-row();
		max-width: 1140px;
		margin: 0px auto 30px auto;
		justify-content: center;

	    .section__item{
	    	@include make-col(10);
	    	font-family: 'Rubik-Bold', sans-serif;
	    	@include fonts(25px, 700, auto, #3B2552);

	    	@include media-breakpoint-only(xs) {
	    		@include make-col(11);
	    	}
	    }

	}

	.section__flex{
		@include make-row();
	    max-width: 1140px;
	    padding: 0;
	    margin: 0 auto;
	    justify-content: center;

	    @include media-breakpoint-only(xs) {
	    	justify-content: center;
	    }

	    .section__item{
	    	@include make-row();
	    	@include make-col(10);
	    	justify-content: space-between;
	    	/*border: 1px solid black;*/

	    	@include media-breakpoint-only(xs) {
	    		@include make-col(11);
	    	}
	    }

	    .section__post-blog{
	    	@include media-breakpoint-only(xs) {
	    		@include make-col(12);
	    		padding: 0;
	    	}

	    	@include media-breakpoint-only(sm) {
	    		@include make-col(5.9);
	    	}

	    	@include media-breakpoint-only(md) {
	    		@include make-col(5.9);
	    	}

	    	@include media-breakpoint-only(lg) {
	    		//@include make-col(4);
	    		@include make-col(3.81);
	    	}

	    	@include media-breakpoint-only(xl) {
	    		@include make-col(3.81);
	    	}
	    	margin-bottom: 20px;
	    	display: block;
	    	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	    	@include border-radius(2px);

	    	.section__post-img{
	    		width: 100%;
	    		height: 151px;
	    		margin-bottom: 12px;
	    		object-fit: cover;
	    		@include border-radius(2px);
	    	}

	    	.section__post-time{
	    		@include flexbox( row, flex-start, center);
	    		margin-bottom: 12px;
	    		padding: 0 23px;
	    		font-family: 'Roboto-Light', sans-serif;
	    		@include fonts(12px, 300, 25px, #000000);

		    		.section__img-clock{
						padding-right: 5px;
					}
	    		}

	    	.section__post-name{
	    		margin-bottom: 5px;
	    		padding: 0 23px;
	    		font-family: 'Rubik', sans-serif;
	    		@include fonts(17px, 600, 20px, #000000);
	    	}

	    	.section__post-excerpt{
	    		font-family: 'Roboto', sans-serif;
	    		@include fonts(14px, 300, 24px, #000000);
	    		word-wrap: break-word;
	    		margin-bottom: 16px;
	    		padding: 0 23px;
	    	}

	    	.section__read-more{
	    		display: block;
	    		width: 100%;
	    		padding: 0 23px;
	    		margin-bottom: 26px;
	    		font-family: 'Rubik', sans-serif;
	    		@include fonts(15px, 600, 20px, #3B2552);

	    		svg{
	    			margin-left: 10px; 
	    		}
	    	}

	    	&:hover{
	    		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	    	}
	    }
	}
	.pagination{
		max-width: 950px;
		@include make-row();
		margin: 0 auto;

	}
	.pagination__item{
		@include make-col(12);
		padding: 0;
		margin: 0 auto;
		@include flexbox(row, space-between, center);
		font-family: 'Roboto-light', sans-serif;
		@include fonts(16px, 400, auto, #000000);

		@include media-breakpoint-only(xs) {
	    	margin-top: 40px;
	    	@include make-col(11);
	    }

		@include media-breakpoint-only(sm) {
	    	margin-top: 40px;
	    	@include make-col(10);
	    }

		@include media-breakpoint-only(md) {
	    	margin-top: 40px;
	    	@include make-col(10);
	    }

		@include media-breakpoint-only(lg) {
	    	margin-top: 40px;
	    	@include make-col(12);
	    }

		@include media-breakpoint-only(xl) {
	    	margin-top: 40px;
	    	@include make-col(12);


	    }

		.pagination__previous,
		.pagination__previous-link{
			opacity: 0;
			font-family: 'Rubik', sans-serif;
			@include fonts(15px, 600, 20px, rgba(0, 0, 0, 1));	
			padding: 0;
			margin: 0;
			@include flexbox(row, center, center);

			svg{
				margin-right: 10px; 
			}


		}

		.pagination__page-number{
			width: 80px;
			height: 40px;
			@include flexbox(row, center, center);
			border: 1px solid #BFBFBF;
					display: none;
		}

		.pagination__next,
		.pagination__previous-next{
			opacity: 0;
			font-family: 'Rubik', sans-serif;
			@include fonts(15px, 600, 20px, rgba(0, 0, 0, 1));	
			height: 40px;
			padding: 0;
			margin: 0;
			@include flexbox(row, center, center);

			svg{
				margin-left: 10px; 
				fill: red;
			}
		}

		.pagination__previous-link,
		.pagination__previous-next{
			opacity: 1;
			font-family: 'Rubik', sans-serif;
	    	@include fonts(15px, 600, 20px, rgba(59, 37, 82, 1));	
			cursor: pointer;

			svg{
				opacity: 0.4;
				fill: rgba(59, 37, 82, 1);
			}

			&:hover{
				opacity: 0.8;
			}
		}


	}
}

.section__single{
	@include media-breakpoint-only(xs) {
		margin: 0 !important;
		padding: 118px 0 48px 0;	
	}

	@include media-breakpoint-only(sm) {
		margin: 0 !important;
		padding: 118px 0 48px 0;
	}

	@include media-breakpoint-only(md) {
		padding: 60px 0 60px 0;
	}

	@include media-breakpoint-only(lg) {
		padding: 60px 0 46px 0;
	}

	@include media-breakpoint-only(xl) {
		padding: 60px 0 59px 0;
	}
	
	margin: 0;
	.section__flex{
		@include make-row();
	    max-width: 1140px;
	    padding: 0;
	    margin: 0 auto;
	    justify-content: center;

	    .section__social-img{
	    	width: 21px;
	    	height: auto;
	    }

	    .section__single-post{
	    	@include media-breakpoint-only(xs) {
	    		@include make-col(11);
	    		padding-left: 0px;
	    	}
	    	@include media-breakpoint-only(sm) {
	    		@include make-col(11);
	    		padding-left: 0px;
	    	}
	    	@include media-breakpoint-only(md) {
	    		@include make-col(9);
	    	}
	    	@include media-breakpoint-only(lg) {
	    		@include make-col(9);
	    	}
			@include media-breakpoint-only(xl) {
	    		@include make-col(9);
	    	}
	    	word-wrap: break-word;
	    	padding-left: 20px;

			.section__post-name{
				width: 100%;
				margin-bottom: 19px;
				font-family: 'Rubik-Bold', sans-serif;
			    @include fonts(25px, 700, auto, #3B2552);
			}

			.section__post-img{
				max-width: 100%;
				height: auto;
				object-fit: cover;
				margin-bottom: 20px;
			}

			.section__post-time{
				display: block;
				width: 100%;
				margin-bottom: 29px;
				font-family: 'Roboto-Light', sans-serif;
				@include fonts(12px, 300, 25px, rgba(35, 31, 32, 0.5));
				@include flexbox(row, flex-start, center);

				.section__img-clock{
					padding-right: 5px;
				}
			}

			.section__post-content{
				font-family: 'Roboto-Light', sans-serif;
        		@include fonts(14px, 300, 24px, #231F20);
        		margin-bottom: 40px;
			}

			.section__link-horizontal{
				@include flexbox(row, flex-start, center);
				.section__share{
					font-family: 'Roboto', sans-serif;
					@include fonts(16px, 400, 16px, #000000);
				}

				.section__social-link{
					margin-left: 30px;

					&:hover{
						opacity: 0.8;
					}			
				}

				.section__social-link:last-child{
					.section__social-img{
						width: 24px;
					}
				}
			}
		}

		.section__link-vertical{
	    	@include make-col(0.7);
	    	@media screen and (max-width: 768px){
	    		display: none;
	    	}
	    	height: 190px;
	    	padding: 28px 0;
	    	margin-top: 98px;
	    	border: 1px solid #E4E4E4;
	    	@include flexbox(column,flex-start, center);
			.section__social-link{
				margin-bottom: 30px;
				&:last-child{
					margin-bottom: 100px;
				}

				&:hover{
					opacity: 0.8;
				} 
			}

			.section__social-link:last-child{
					.section__social-img{
						width: 24px;
					}
			}
		}
	}
}