.footer{
    width: 100%;
    background-color: #3B2552;

    .footer__flex-container{
    	@include make-row();
    	max-width: 1140px;
    	height: 41px;
    	margin: 0 auto;
    	justify-content: center;

    	.footer__item{
    		@include make-col-ready();
            @include media-breakpoint-up(md){
                @include make-col(6);
            }

            &:first-child{
            	@include flexbox(column, center, flex-start);
            }

            &:last-child{
            	@include flexbox(row, flex-end, center);
            	.footer__link{
            		margin-left: 34px;
            	}
            }

            .footer__link{
            	 @include fonts(10px, 300, 24px, #FFFFFF);
            }
    	}
    }
}