body{
    line-height: 1;
    font-weight: normal;
    background: #fff;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
p{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a,
input{
    font-family: 'Roboto', sans-serif;
}

button{
    font-family: 'Rubik', sans-serif;
}

input, a, button, select, div, textarea{
    text-decoration: none!important;
    outline: none!important;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    &:active{
        outline: none;
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    }
    &:hover{
        outline: none;
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    }
}


.main{
    width: 100%;
}

.section{
    width: 100%;
}

.section__flex{
    @include make-row();
    max-width: 1140px;
    padding: 0;
    margin: 0 auto;
    justify-content: center;

    .section__title{
        margin-bottom: 22px;
        font-family: 'Rubik-Bold', sans-serif;
        @include fonts(25px, 700, 30px, #3B2552);
    }

    .section__call{
        margin-bottom: 27px;
        font-family: 'Roboto-Light', sans-serif;
        @include fonts(18px, 300, 21px, #7AACDE);
}

    .section__info{
        margin-bottom: 35px;
        font-family: 'Roboto-Light', sans-serif;
        @include fonts(14px, 300, 24px, #000000);
    }

    .section__btn_contact_us{
        width: 144px;
        height: 35px;
        background-color: #7AACDE;
        border: 1px solid #7AACDE;
        cursor: pointer;
        font-family: 'Rubik-Bold', sans-serif;
        @include fonts(12px, 700, 24px, #FFFFFF);
        text-transform: uppercase;
        @include border-radius(2px);
    }

    .section__polygon{
        width: 60px;
        height: 70px;
        margin-bottom: 13px;
}

    .section__answer{
        margin-top: 30px;
        margin-bottom: 8px;
        font-family: 'Roboto-Light', sans-serif;
        @include fonts(14px, 300, 24px, #f000000);
    }  
}

.section_one_style{
    /*height: 400px;*/
    padding: 77px 0 60px 0;
    background-color: #F5FBFF;

    .section__item{
        @include make-col-ready();
        margin: 0;
        padding: 0;

        .section__inner-wrap-img{
            display: none;
        }
    }

    .section__input_section_one{
        box-shadow: none;
        width: 240px;
        height: 35px;
        padding: 0px 10px 0 10px;
        border: 1px solid #7AACDE;
        @include border-radius(2px);
        font-family: 'Roboto-Light', sans-serif;
        @include fonts(14px, 300, 24px, #f000000);    
        @include fonts(12px, 300, 24px, #7CAADD);
        @include placeholder(#7CAADD);
    }

    .section__btn_section_one{
        width: 144px;
        height: 35px;
        margin-left: 9px;
        background-color: #3B2552;
        border: 1px solid #3B2552;
        cursor: pointer;
        white-space: nowrap;
        font-family: 'Rubik-Bold', sans-serif;
        @include fonts(12px, 700, 24px, #FFFFFF);
        text-transform: uppercase;
        @include border-radius(2px);
    }

    .section__btn_section_one:hover{
        opacity: 0.8;
        transition: opacity 0.5s;
    }

    .section__form-email_section_one{
        @include flexbox(row, flex-start, flex-start);
    }

    .section__item_img_right{
        @include flexbox(row, flex-end, flex-start);
    }
    .section__img_section_one{
            max-width: 100%;
            height: auto;
            position: relative;
            bottom: 15px;
        }
}

.section_two_style{
    position: relative;
    padding:82px 0 45px 0;
    align-items: center;

    
    .section__item:first-child{
        @include make-col-ready();
        padding-left:0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .section__inner-wrap-img{
                display: none;
        }

    }

    .section__item:last-child{
        @include make-col-ready();
        @include flexbox(row, flex-end, flex-start);
        padding-right: 0px;
    }

    .section__components{
        max-width: 100%;
        height: auto;
        padding: 0;
        margin: 0 -15px 0 0;
    }

    .section__polygon-light{
        position: absolute;
        top: 75%;
        left: 40%;
    }

    .section__btn_contact_us:hover{
            opacity: 0.8;
            transition: opacity 0.5s;
        }

}


.section_three_style{
    padding:0;
    padding:69px 0 40px 0;
    position: relative;
    align-items: center;
    background-color: #F5FBFF;

    .section__item:first-child{
        @include make-col-ready();
        padding-left: 0px;

        .section__polygon-light{
            position: absolute;
            top: 70%;
            left: 75%;
        }
    }

    .section__item:last-child{
        @include make-col-ready();
        padding-right: 0px;
        .section__inner-wrap-img{
                display: none;
        }

        .section__btn_contact_us:hover{
            opacity: 0.8;
            transition: opacity 0.5s;
        }
     @include flexbox(column, flex-start, flex-end);
    }

    .section__group{
        max-width: 100%;
        height: auto;
        margin-left: -8px;
    }

    .section__info{
        text-align: right;
    }


}

.section_four_style{
    position: relative;
    padding: 81px 0 65px 0;
    align-items: center;

    .section__item:first-child{
        @include make-col-ready();
        @include flexbox(column, center, flex-start);
        padding-top: 50px;
        padding-left:0;

        .section__polygon{
            display: none;
        }

        .section__inner-wrap-img{
            display: none;
        }

    }

    .section__item:last-child{
        @include make-col-ready();
        @include flexbox(row, flex-end, flex-start);
        padding-right: 0px;

        .section__polygon-light{
            position: absolute;
            left: 20%;
            top: 30%;
         }
    }

    .section__group{
        max-width: 100%;
        height: auto;
        padding: 0;
    }

    .section__btn_contact_us:hover{
            opacity: 0.8;
            transition: opacity 0.5s;
        }

}


.section_five_style{
    align-items: center;
    padding: 0;
    padding: 35px 0 53px 0;
    background-color: #B8DEE8;
    .section__item{
        @include make-col-ready();     
    }

    .section__to_do{
        max-width: 287px;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-bottom: 35px;
    }

    .section__title{
        text-align: center;
        @include fonts(25px, 700, auto, #3B2552);
    }

    .section__call{
        font-family: 'Roboto-Thin', sans-serif;
        text-align: center;
        @include fonts(18px, 200, 18px, #3B2552);
    }

    .section__sign-up{
        @include flexbox(row, center, flex-start);
    }

    .section__input-sign-up{
        width: 328px;
        height: 35px;
        padding: 0px 10px 0 10px;
        border: 1px solid #ffffff;
        @include border-radius(2px);
        font-family: 'Roboto-Light', sans-serif;
        @include fonts(14px, 300, 24px, #f000000);
        @include fonts(12px, 300, 24px, #3B2552);
        @include placeholder(#3B2552);
    }

    .section__btn-sign-up{
        width: 144px;
        height: 35px;
        background-color: #3B2552;
        border: 1px solid #3B2552;
        margin-left: 9px;
        cursor: pointer;
        font-family: 'Rubik-Bold', sans-serif;
        @include fonts(12px, 700, 24px, #FFFFFF);
        text-transform: uppercase;
        @include border-radius(2px);
    }

    .section__btn-sign-up:hover{
        opacity: 0.8;
        transition: opacity 0.5s;
    }
}


.back-popup{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: #7AACDE;
    opacity: 0.5;
    z-index: 1000;
}

.popup{
    @include make-row();
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 10001;
    margin: 0 auto;
    .popup__window-popup{
        @include make-col-ready();
        @include make-col(3);
        background-color: #ffffff;
        @include flexbox(column, center, center);
        padding: 28px 45px 32px 45px;
        
        .popup__image{
            margin: 0 0 19px 0;
            padding:0;
            max-width: 100%;
            height: auto;
        }

        .popup__title{
            margin: 0 0 4px 0;
            padding:0;
            font-family: 'Rubik-Bold', sans-serif;
            @include fonts(18px, 700, 21px, #3B2552);
            text-align: center;
        }

        .popup__info{
            margin: 0 0 10px 0;
            padding:0;
            font-family: 'Roboto-Light', sans-serif;
            @include fonts(14px, 300, 24px, #000000);
            text-align: center;
        }

        .popup__btn{
            width: 163px;
            height: 35px;
            background-color: #3B2552;
            @include border-radius(2px);
            border-width: 0px;
            text-transform: uppercase;
            font-family: 'Rubik-Bold', sans-serif;
            @include fonts(12px, 700, 24px, #ffffff);
            cursor: pointer;

            &:hover{
                opacity: 0.8;
                transition: opacity 0.5s;
            }
        }
    }
}
