@include media-breakpoint-down(sm){

	.header{
		position: fixed;
		top:0;
		left: 0;
		z-index: 999;
		.header__flex-container{

			.logo{
				@include make-col(5);
			}

			.navbar{
				@include make-col(12);
				order: 3;

				.nav{
					width: 100%;
					height: 0px;
					overflow: hidden;
					transition: height 0.5s;
					margin-top: 0;
					margin-bottom: 0;
					padding: 0;
					position: absolute;
					top:100%;
					left: 0;
					background-color: #ffffff;
					-webkit-box-shadow: 0 5px 10px -5px #9E9E9E;
        			-moz-box-shadow: 0 5px 10px -5px #9E9E9E;
        			box-shadow: 0 5px 10px -5px #9E9E9E;
					display: flex;
					flex-direction: column !important;
					justify-content: flex-start !important;
					align-items: center !important;
					z-index: 999;

					.nav__item{
						width: 100%;
						padding: 20px 0px !important;
						margin-left: 0 !important;
						text-align: center;
						text-transform: uppercase;
						cursor: pointer;
						border-top:1px solid #C2CFE0;

						.nav__link{
							font-family: 'Roboto', sans-serif !important;
							font-size: 18px !important;
							font-weight: 300 !important;
							line-height: 21px !important;
							text-align: center !important;
							color: #3B2552 !important;
						}

						&:hover{
								background-color: #f5fbff;
						}
					}	
				}
			}

			.header__burger{
				display: flex !important;
				@include make-col(5);
				@include flexbox(column, center, flex-end);
			}
		}
	}
	
	.section_one_style{
		padding: 118px 0 21px 0;
		.section__item:first-child{
			@include make-col(11);
			@include flexbox(column, flex-start, center);

            .section__title{
            	text-align: center;
            	padding: 0;
            	margin: 0 0 12px 0;
            }

            .section__call{
            	margin: 0 0 31px 0;
            	padding:0;
            	text-align: center;
            }

            .section__info{
            	padding: 0;
            	margin: 0 0 26px 0;
            	text-align: center;
            }

            .section__inner-wrap-img{
            	padding: 0;
 				margin: 0 0 31px 0;
 				width: 100%;
 				@include flexbox(row, center, flex-start);

 				.section__img_section_one{
 					position: static;
 				}

 			}

 			.section__form-email_section_one{
 				width: 100%;
				@include flexbox(column, flex-start, center);

				.section__input_section_one{
					padding: 0 0 0 10px;
 					margin: 0 0 11px 0;
					width: 100%;

				}

				.section__btn_section_one{
					margin: 0;
					width: 100%;
				}
 			}
		}

		.section__item:last-child{
			.section__img_section_one{
				display: none;
			}
		}
	}



	.section_two_style{
		padding: 57px 0 40px 0;
		.section__item:first-child{
			padding: 0;
			margin: 0;
			@include make-col(11);
            @include flexbox(column, flex-start, center);

            .section__polygon{
            	padding: 0;
				margin: 0 0 17px 0;
            }

            .section__title{
            	padding: 0;
				margin: 0 0 16px 0;
            }
			
			.section__info{
				padding: 0;
				margin: 0 0 25px 0;
				text-align: center;
			}

            .section__inner-wrap-img{
            	padding: 0;
				margin: 0 0 20px 0;
 				width: 100%;
 				@include flexbox(row, flex-end, flex-start);


 				.section__components-mobile{
 					max-width: 100%;
 					height: auto;
 				}         	

            }

            .section__answer{
            	padding: 0;
            	margin: 0 0 9px 0;
            }
		}

		.section__item:last-child{
			.section__components{
				display: none;
            }

            .section__polygon-light{
            	display: none;
            }

		}
	}

	.section_three_style{
		padding: 50px 0 35px 0;
		.section__item:first-child{
			position: inherit;
			.section__group{
				display: none;
			}

			.section__polygon-light{
            	top: 50%;
            	left: 50%;
            	z-index: 99;
            }
		}
		
		.section__item:last-child{
			@include make-col(11);
			@include flexbox(column, flex-start, center);
			padding: 0;
			margin: 0;

			.section__polygon{
				padding: 0;
				margin: 0 0 10px 0;
			}

			.section__title{
				padding: 0;
				margin: 0 0 16px 0;
			}

			.section__info{
				padding: 0;
				margin: 0 0 38px 0;
				text-align: center;
			}

			.section__inner-wrap-img{
                width: 100%;
                padding: 0;
				margin: 0 0 20px 0;
 				@include flexbox(row, flex-end, flex-start);
				
				.section__components-mobile{
 					max-width: 100%;
 					height: auto;
 				}

        	}

        	.section__answer{
        		padding: 0;
				margin: 0 0 9px 0;
        	}
		}
	}

	.section_four_style{
			padding: 37px 0 40px 0;
		.section__item:first-child{
			@include make-col(11);
			@include flexbox(column, flex-start, center);
			padding: 0;

			.section__polygon{
            	display: block;
            	padding: 0;
            	margin: 0 0 17px 0;
        	}

        	.section__inner-wrap-img{
        		padding: 0;
            	margin: 0 0 20px 0;
        		width: 100%;
 				@include flexbox(row, flex-end, flex-start);

 				.section__components-mobile{
 					max-width: 100%;
 					height: auto;
 				}
        	}

        	.section__title{
        		padding: 0;
            	margin: 0 0 20px 0;
        		text-align: center;
        	}

        	.section__info{
        		padding: 0;
            	margin: 0 0 31px 0;
        		text-align: center;

        	}

        	.section__answer{
        		padding: 0;
        		margin: 0 0 9px 0;
        	}
		}

		.section__item:last-child{
			position: inherit;
			.section__group{
				display: none;
            }

            .section__polygon-light{
            	top: 77%;
            	left: 65%;
            	z-index: 99;
            }
		}
	}

	.section_five_style{
		padding: 45px 0 50px 0;
		.section__item{
			padding: 0;
			margin: 0;
			@include make-col(11);
			@include flexbox(column, flex-start, center);
			border: 1px solid black;

			.section__to_do{
				padding: 0;
				margin: 0 0 21px 0;
				border: 1px solid black;
			}

			.section__title{
				padding: 0;
				margin: 0 0 4px 0;
				border: 1px solid black;
			}

			.section__call{
				padding: 0;
				margin: 0 0 15px 0;
				border: 1px solid black;
			}

			.section__sign-up{
				width: 100%;
				@include flexbox(column, flex-start, center);

				.section__input-sign-up{
					padding: 0;
					margin: 0 0 16px 0;
					border: 1px solid black;
					width: 100%;
				}

				.section__btn-sign-up{
					padding: 0;
					margin: 0;
					border: 1px solid black;
					margin: 0;
					width: 100%;
				}
			}
		}

	}

	.footer{
		.footer__flex-container{
			.footer__item{
				&:first-child{
					@include make-col(5);
					margin: 0;
					padding:0;
				}

				&:last-child{
					@include make-col(6);
					margin: 0;
					padding: 0;
					@include flexbox(row, flex-end, center);

					.footer__link{
						margin:0;
						white-space: nowrap;

						&:last-child{
							margin-left: 9px;
						}
					}
				}
			}
		}
	}

	.popup{
		.popup__window-popup{
			@include make-col(11);
		}
	}

/*страница сингл*/
.section__single{
	margin: 0;
	margin: 154px 0 80px 0;
}



}

@include media-breakpoint-up(md) {

	.section_one_style{
		.section__item{
			@include make-col(5);
		}
	}

	.section_two_style{
		.section__item:first-child{
			@include make-col(4);
		}
		.section__item:last-child{
			 @include make-col(6);
		}
	}
	
	.section_three_style{
		.section__item:first-child{
			@include make-col(6);
		}

		.section__item:last-child{
			@include make-col(4);
		}
	}

	.section_four_style{
		.section__item:first-child{
			@include make-col(5);
		}

		.section__item:last-child{
			@include make-col(5);
		}
	}

	.section_four_style{
		.section__item{
			@include make-col(7);
		}
	}

	/*.section_page_blog{
		.section__flex{
			.section__post-blog{
				@include make-col(3);
			}
		}
	}*/

}


